<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{content.title}">Thymeleaf課題</title>
</head>

<body>
<!--/* Lesson15 chapter4.4 messages.properties  */-->
    <h1 th:text="#{content.title}">Thymeleaf課題</h1>
     <h2 th:text="#{content.subtitle}">入力画面</h2>

     <p th:text="#{content.prompt}">値を入力してください。</p>

 <!--/* パラメータ previous に値が設定されていたら「前回入力された値は「{previousの値}」でした。」と表示する。
    ※{previousの値}の部分は、実際のpreviousの値を表示する */-->
    <div th:if="${previous != null}">
        <p th:text="'前回入力された値は「' + ${previous} + '」でした。'">前回入力された値は〇〇でした。</p>
    </div>

<!--/* 入力フォーム AND 送信をmessages.propertieisから取得 */-->
    <form method="post" action="/output">
        <input type="text" name="value">
        <button type="submit" th:text="#{content.submit}">送信</button>
    </form>




     <!--/* <p th:text="'入力された値は「' + ${val} + '」でした'"></p> */-->

</body>
</html>

<!--/* Chapter4.3参照  */-->
